@import './sass/vars';

html, body {
    height: 100%;
    background-color: $bg-color;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $summer-color;
    font-family: 'Lato', sans-serif;
}

#root {
    height: 100%;
    width: 100%;
}

.app {
    height: 100%;
    // height: calc(100vh - #{$header-height});
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}